/* Background */
body {
  margin: 0;
  background: hsl(266, 75%, 57%);
  font-family: Arial, sans-serif;
}

/* Center container */
.login-wrapper {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #5283d1;
  padding: 20px;
}

/* Card */
.login-card {
  width: 380px;
  background: rgb(255, 253, 253);
  padding: 35px 32px;
  border-radius: 14px;
  border: 1px solid #e4e7eb;
  box-shadow: 0px 6px 20px rgba(0,0,0,0.12);
  text-align: center;
}

/* Icon */
.login-icon {
  font-size: 45px;
  margin-bottom: 15px;
}

/* Title */
.login-title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 8px;
}

/* Subtitle */
.login-subtitle {
  font-size: 14px;
  color: #6e6e6e;
  margin-bottom: 22px;
}

/* Input group */
.input-group {
  position: relative;
  margin-bottom: 18px;
}

.input-group input {
  width: 85%;
  padding: 12px 12px 12px 42px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: rgb(255, 255, 255);
  outline: none;
}

.input-group input:focus {
  border-color: #007bff;
}

/* Input icon */
.input-icon {
  position: absolute;
  top: 11px;
  left: 12px;
  font-size: 18px;
  color: #777;
}

/* Login Button */
.login-btn {
  width: 100%;
  padding: 12px;
  background: #007bff;
  color: 1rgb(255, 255, 255);
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.login-btn:hover {
  background: #0064d6;
}


/* MAIN CONTAINER: Two Column Layout */
.login-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

/* LEFT SIDE BACKGROUND */
.login-left {
  background: #08224b; /* dark navy like your mockup */
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* RIGHT SIDE BACKGROUND */
.login-right {
  background: #1a97eb; /* bright blue like your mockup */
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* BIG TEXT ON RIGHT SIDE */
.welcome-text {
  font-size: 48px;
  font-weight: 900;
  color: white;
  text-align: left;
  line-height: 1.3;
  padding: 40px;
  /* border: 3px solid hsl(197, 99%, 50%); */
}
